<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Peter Search Engine</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container">
        <div id="logo">
            <p>Harry Peter Search Engine</p>
        </div>
        <form action="{{ url_for('search') }}" method="POST" id="form">
            <svg id="search_icon" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8" />
                <line x1="21" y1="21" x2="16.65" y2="16.65" />
            </svg>
            <input type="search" name="search" id="input_search">
            <button type="submit">Search</button>
        </form>
        {% if search_results %}
        <div id="search-results">
            <ul>
                {% for result in search_results %}
                <li><a href="{{ url_for('document', result_id=result.id) }}">{{ title }}</a><br>
                    <p>{{content}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</body>

</html>